.buttonWrapper {
    align-items: center;
    background-color: #c31212;
    border-radius: var(--size-radius-200);
    display: flex;
    gap: var(--size-space-200);
    height: 56px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    max-width: 645px;
    width: 100vw;
}

.buttonWrapper .file {
  height: 32px !important;
  position: relative !important;
  width: 32px !important;
}

.buttonWrapper .text-wrapper {
  all: unset;
  box-sizing: border-box;
  color: var(--color-text-brand-on-brand);
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.button3 {
    align-items: center;
    background-color: #2113c34c;
    border-radius: var(--size-radius-200);
    display: flex;
    gap: var(--size-space-200);
    height: 56px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.button3 .file {
    height: 32px !important;
    position: relative !important;
    width: 32px !important;
}

.button3 .text-wrapper3 {
    all: unset;
    box-sizing: border-box;
    color: var(--color-text-brand-on-brand);
    font-family: "Inter", Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.button2 {
    align-items: center;
    background-color: #13c333;
    border-radius: var(--size-radius-200);
    display: flex;
    gap: var(--size-space-200);
    height: 56px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 300px;
}

.button2 .file {
    height: 32px !important;
    position: relative !important;
    width: 32px !important;
}

.button2 .text-wrapper3 {
    all: unset;
    box-sizing: border-box;
    color: var(--color-text-brand-on-brand);
    font-family: "Inter", Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.textBox {
    background-color: #ffffff4c;
    border-radius: 8px;
    height: 30px;
    max-width: 645px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBox .text {
    all: unset;
    box-sizing: border-box;
    color: #1d0000;
    font-family: "Inter", Helvetica;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
    text-align: center; 
}
