.iphone-pro-max {
  background-color: rgba(255, 255, 255, 1.0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.iphone-pro-max .div {
  background: linear-gradient(
    180deg,
    rgb(237.15, 237.15, 237.15) 0%,
    rgb(163.2, 163.2, 163.2) 100%
  );
  background-color: rgba(255, 255, 255, 1.0);
  height: 956px;
  position: relative;
  width: 440px;
}

.iphone-pro-max .frame {
  align-items: flex-start;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  gap: 9px;
  height: 60px;
  justify-content: center;
  left: 0;
  padding: 5px 7px;
  position: absolute;
  top: 896px;
  width: 440px;
}

.iphone-pro-max .text-wrapper-2 {
  align-self: stretch;
  color: #818181;
  font-family: var(--single-line-body-base-font-family);
  font-size: var(--single-line-body-base-font-size);
  font-style: var(--single-line-body-base-font-style);
  font-weight: var(--single-line-body-base-font-weight);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  margin-top: -3.00px;
  position: relative;
}

.iphone-pro-max .button-wrapper {
  all: unset;
  align-items: center;
  background-color: var(--color-background-brand-default);
  border: 1px solid;
  border-color: var(--color-border-brand-default);
  border-radius: var(--size-radius-200);
  box-sizing: border-box;
  display: flex;
  gap: var(--size-space-200);
  height: 29px;
  justify-content: center;
  margin-bottom: -2.00px;
  overflow: hidden;
  padding: var(--size-space-300);
  position: relative;
  width: 131px;
}

.iphone-pro-max .button-2 {
  all: unset;
  box-sizing: border-box;
  color: var(--color-text-brand-on-brand);
  font-family: var(--single-line-body-base-font-family);
  font-size: var(--single-line-body-base-font-size);
  font-style: var(--single-line-body-base-font-style);
  font-weight: var(--single-line-body-base-font-weight);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  margin-bottom: -4.50px;
  margin-top: -6.50px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.iphone-pro-max .frame-2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 896px;
  left: 0;
  padding: 200px 80px;
  position: absolute;
  top: 0;
  width: 440px;
}

.iphone-pro-max .text-wrapper-3 {
  color: #434343;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.iphone-pro-max .button-instance {
  align-self: stretch !important;
  width: 100% !important;
}

.iphone-pro-max .button-3 {
  align-items: center;
  align-self: stretch;
  background-color: #13c3334c;
  border-radius: var(--size-radius-200);
  display: flex;
  gap: var(--size-space-200);
  height: 56px;
  justify-content: center;
  overflow: hidden;
  padding: var(--size-space-300);
  position: relative;
  width: 100%;
}

.iphone-pro-max .icon-instance-node {
  height: 32px !important;
  position: relative !important;
  width: 32px !important;
}

.iphone-pro-max .text-wrapper-4 {
  color: var(--color-text-brand-on-brand);
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.iphone-pro-max .button-4 {
  align-items: center;
  align-self: stretch;
  background-color: #2113c34c;
  border-radius: var(--size-radius-200);
  display: flex;
  gap: var(--size-space-200);
  height: 56px;
  justify-content: center;
  overflow: hidden;
  padding: var(--size-space-300);
  position: relative;
  width: 100%;
}

.iphone-pro-max .rectangle {
  align-self: stretch;
  background-color: #ffffff4c;
  border-radius: 8px;
  height: 29px;
  position: relative;
  width: 100%;
}

.iphone-pro-max .instructions-click {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 14px;
  margin-left: -55.50px;
  margin-right: -55.50px;
  position: relative;
  width: fit-content;
}
