.desktop {
  align-items: flex-start;
  background-color: #76b174;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 1024px;
  padding: 478px 682px;
  position: relative;
}

.desktop .button-instance {
  flex: 0 0 auto !important;
}
