.desktop {
  align-items: flex-start;
  background-color: #76b174;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 1024px;
  padding: 478px 682px;
  position: relative;
}

.desktop .button-danger {
  all: unset;
  align-items: center;
  background-color: var(--color-background-danger-default);
  border: 1px solid;
  border-color: var(--color-border-danger-secondary);
  border-radius: var(--size-radius-200);
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--size-space-200);
  justify-content: center;
  overflow: hidden;
  padding: var(--size-space-300);
  position: relative;
}

.desktop .text-wrapper-4 {
  color: var(--color-text-danger-on-danger);
  font-family: var(--single-line-body-base-font-family);
  font-size: var(--single-line-body-base-font-size);
  font-style: var(--single-line-body-base-font-style);
  font-weight: var(--single-line-body-base-font-weight);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .button-4 {
  all: unset;
  align-items: center;
  background-color: var(--color-background-brand-default);
  border: 1px solid;
  border-color: var(--color-border-brand-default);
  border-radius: var(--size-radius-200);
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--size-space-200);
  justify-content: center;
  margin-bottom: -22.00px;
  overflow: hidden;
  padding: var(--size-space-300);
  position: relative;
}

.desktop .text-wrapper-5 {
  color: var(--color-text-brand-on-brand);
  font-family: var(--single-line-body-base-font-family);
  font-size: var(--single-line-body-base-font-size);
  font-style: var(--single-line-body-base-font-style);
  font-weight: var(--single-line-body-base-font-weight);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.desktop .icon-button {
  align-items: center;
  background-color: var(--color-background-brand-default);
  border: 1px solid;
  border-color: var(--color-border-brand-default);
  border-radius: var(--typography-primitives-scale-06);
  display: inline-flex;
  flex: 0 0 auto;
  gap: var(--size-space-200);
  justify-content: center;
  margin-bottom: -76.00px;
  overflow: hidden;
  padding: var(--size-space-300);
  position: relative;
}

.desktop .star {
  height: 20px;
  position: relative;
  width: 20px;
}
